.chatContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 400px;
    overflow-y: auto;
    background-color: #f4f4f8;
  }
  
  .userMessage {
    align-self: flex-end;
    background-color: #0084ff;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 60%;
  }
  
  .otherMessage {
    align-self: flex-start;
    background-color: #f1f0f0;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 60%;
  }
  
  .messageSender {
    font-weight: bold;
  }
  
  .messageText {
    margin-top: 5px;
  }
  
  .messageTimestamp {
    font-size: 0.8em;
    color: gray;
    margin-top: 5px;
  }
  